<div class="main-content pt-5 mt-5 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Sinh Viên</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="studentForm" (ngSubmit)="onSearching(studentForm.value.stdID)">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Student ID..." formControlName="stdID">
                                <button mat-raised-button type="submit" class="btn btn-warning btn-round btn-just-icon"
                                        [disabled]="!studentForm.value.stdID">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </form>
                        <p style="transition: all 0.5s ease-in-out 0s; "
                           class="text-danger" *ngIf="studentQueryMess">{{studentQueryMess}}</p>
                    </div>
                    <div class="card-body" *ngIf="studentInfo">
                        <div class="row">
                            <div class="col-md-3">
                                <p>MSSV</p>
                                <p>Khóa</p>
                                <p>Tên</p>
                                <p>Khoa/Viện</p>
                                <p>Ngày sinh</p>
                            </div>
                            <div class="col-md-9">
                                <p class="text-primary"><b>{{studentInfo.stdID}}</b></p>
                                <p class="text-primary"><b>{{studentInfo.intakeYear}}</b></p>
                                <p class="text-primary"><b>{{studentInfo.name}}</b></p>
                                <p class="text-primary"><b>{{studentInfo.school}}</b></p>
                                <p class="text-primary"><b>{{studentInfo.dob | date }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" *ngIf="studentInfo">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Nhập điểm</h4>
                        <!--<p class="card-category"><b> Document Verification Network</b> - HUST Portal </p>-->
                    </div>
                    <div class="card-body">
                        <p>Nhập điểm cho sinh viên <b>{{studentInfo.name}}</b></p>
                        <p><em><b>Lưu ý:</b> Chỉ áp dụng với những môn học chưa tồn tại trong bảng điểm</em></p>
                        <mat-spinner [diameter]="40" [color]="'warn'" style="margin:0 auto;"
                                     *ngIf="spinnerLoad"></mat-spinner>
                        <form [formGroup]="gradingForm" (ngSubmit)="onGrading(gradingForm.value)" *ngIf="!spinnerLoad">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" [matAutocomplete]="auto"
                                               placeholder="Học kỳ" aria-label="Học kỳ" formControlName="semester">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let semester of semesters" [value]="semester">
                                                {{semester}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <!--<input matInput placeholder="Môn học" formControlName="courseName">-->
                                        <mat-select matInput placeholder="Môn học" formControlName="course">
                                            <mat-option *ngFor="let course of courses" [value]="course">
                                                {{course.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" placeholder="Điểm" formControlName="gradeVal">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit"
                                    [disabled]="!gradingForm.value.semester || !gradingForm.value.gradeVal || !gradingForm.value.course"
                                    class="btn btn-danger pull-right">Submit
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" *ngIf="studentInfo">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Bảng Điểm</h4>
                    </div>
                    <div class="card-body">
                        <mat-spinner [diameter]="40" [color]="'warn'" style="margin:0 auto;"
                                     *ngIf="tranSpinnerLoad"></mat-spinner>
                        <div *ngIf="!tranSpinnerLoad" class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="table">
                                <ng-container matColumnDef="courseID">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Mã Môn Học</th>
                                    <td mat-cell *matCellDef="let element"> {{element.courseID}} </td>
                                </ng-container>

                                <ng-container matColumnDef="courseName">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Tên Môn Học</th>
                                    <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="credit">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Số Tín chỉ</th>
                                    <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
                                </ng-container>

                                <ng-container matColumnDef="gradeVal">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Điểm</th>
                                    <td mat-cell *matCellDef="let element"> {{element.gradeVal}} </td>
                                </ng-container>

                                <ng-container matColumnDef="semester">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Học Kỳ</th>
                                    <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action-update">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"></th>
                                    <td mat-cell *matCellDef="let element ; let i = index">
                                        <button mat-raised-button type="submit"
                                                class="btn btn-success btn-round btn-just-icon"
                                                (click)="updateGrade(element,i)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action-delete">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"></th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-raised-button type="submit"
                                                class="btn btn-danger btn-round btn-just-icon"
                                                (click)="deleteGrade(element)">
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <p class="text-center">{{queryTranMessage}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
