<div class="main-content">
    <div class="container-fluid">
        <!--<div class="row">-->
        <!--<div class="col-md-12">-->
        <!--<button mat-raised-button (click)="openDialog()" type="submit" class="btn btn-success pull-right">New Student</button>-->
        <!--<div class="clearfix"></div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-12" *ngIf="!spinnerLoad">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Danh sách yêu cầu xác thực</h4>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="table">
                                <ng-container matColumnDef="requester">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Người tạo yêu cầu</th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell
                                        *matCellDef="let element"> {{element.requester}} </td>
                                </ng-container>

                                <ng-container matColumnDef="company">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Doanh nghiệp/Tổ chức</th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell
                                        *matCellDef="let element"> {{element.company}} </td>
                                </ng-container>

                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Email</th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell
                                        *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>

                                <ng-container matColumnDef="reason">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Lý do</th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell
                                        *matCellDef="let element"> {{element.reason}}<br>
                                        <span class="text-dark"><em>{{element.reasonDetail}}</em></span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="student">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Chi tiết sinh viên</th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell *matCellDef="let element">
                                        <span class="text-success"><b>{{element.stdName}}</b> </span><br>
                                        <span>MSSV: {{element.stdID}} </span> - <span>Khóa: {{element.intakeYear}} </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary "> Trạng thái</th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell *matCellDef="let element">
                                        <span [className]="element.status == 'rejected'?'bg-dark text-white p-1 rounded':(element.status == 'mailsent'?'bg-success text-white p-1 rounded':'')">
                                            {{element.status == "requested" ? 'Chưa xử lý' : (element.status == "mailsent" ? 'Đã xử lý' : 'Từ chối')}}
                                        </span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action-update">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"></th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell *matCellDef="let element ; let i = index">
                                        <button mat-raised-button type="submit" *ngIf="element.status == 'requested'"
                                                class="btn btn-warning btn-round btn-just-icon"
                                                (click)="mailing(element)">
                                            <i class="material-icons">email</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action-delete">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"></th>
                                    <td [className]="element.status == 'rejected'?'bg-gray':''" mat-cell *matCellDef="let element">
                                        <button mat-raised-button type="submit" *ngIf="element.status == 'requested'"
                                                class="btn btn-danger btn-round btn-just-icon"
                                                (click)="rejectReq(element._id)">
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                        <mat-spinner [diameter]="40" [color]="'warn'" style="margin:0 auto;"
                                     *ngIf="spinnerLoad"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
