<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button (click)="openDialog()" type="submit" class="btn btn-success pull-right">New Student</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Student List</h4>
                    </div>
                    <div class="card-body">
                        <mat-spinner [diameter]="40" [color]="'warn'" style="margin:0 auto;"
                                     *ngIf="!dataSource || spinnerLoad"></mat-spinner>
                        <div *ngIf="!spinnerLoad" class="table-responsive">

                            <table mat-table [dataSource]="dataSource" class="table">
                                <ng-container matColumnDef="stdID">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> MSSV</th>
                                    <td mat-cell *matCellDef="let element"> {{element.stdID}} </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Họ và tên</th>
                                    <td mat-cell *matCellDef="let element"> {{element.info.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="school">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Khoa/Viện</th>
                                    <td mat-cell *matCellDef="let element"> {{element.info.school}} </td>
                                </ng-container>

                                <ng-container matColumnDef="intakeYear">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Khóa</th>
                                    <td mat-cell *matCellDef="let element"> {{element.intakeYear}} </td>
                                </ng-container>

                                <ng-container matColumnDef="dob">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Ngày Sinh</th>
                                    <td mat-cell *matCellDef="let element"> {{element.info.dob | date}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action-transcript">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"></th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-raised-button type="submit"
                                                class="btn btn-warning btn-round btn-just-icon"
                                                (click)="viewTranscript(element.stdID)">
                                            <i class="material-icons">file_copy</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action-update">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"></th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-raised-button type="submit"
                                                class="btn btn-success btn-round btn-just-icon"
                                                (click)="updateStudent(element)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="action-delete">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"></th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-raised-button type="submit"
                                                class="btn btn-danger btn-round btn-just-icon"
                                                (click)="deleteStudent(element.stdID)">
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>